body{
background: #5D6D7E;
height: 200vh;
}
.container{
background: #85929E;
padding: 20px;
height: 850px;
position: absolute;
top: 50px;
}
.container div{
margin: 25px;
width: 500px;
}
.green{
background: #58D68D;
height: 100px;
position: inherit;
}
.red{
background: #E75239;
height: 200px;
}
.blue{
background: #3498D8;
height: 200px;
}